@import url("reset.css");

/** {
  outline: 1px solid green;
}*/

body {
  font: normal 16px Helvetica, Arial, sans-serif;
}

main {
  width: 684px;
  margin: 50px auto;
  border: 3px solid #c0b0b0;
  box-sizing: border-box;
  padding: 10px;
}

header {
  position: relative;
  font-size: 14px;
}

img {
  border-radius: 100%;
}

a {
  text-decoration: none;
  color: #13f2a8;
}

header * {
  display: inline-block;
}

header .pic {
  position: absolute;
  padding: 0 0 0 10px;
  top: 5px;
}

header p {
  position: relative;
  left: 10px;
  top: -5px;
}

div.text {
  padding: 10px 0 0 0;
}

div.text h1 {
  font-size: 25px;
  padding-bottom: 10px;
}

div.text p {
  line-height: 1.7rem;
}

p.more {
  color: #969696;
  font-size: 12px;
}

.more a {
  color: inherit;
}

footer {
  text-align: left;
}

footer * {
  display: inline-block;
  vertical-align: middle;
}

footer img {
  width: 30px;
}

div.fleft {
  width: 600px;
  text-align: right;
}
